<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加属性</title>
</head>
<body>
    <div>
        <button><a href="/">回到主页</a></button>
    </div>
    <form action="/add" method="POST">
        <div>
            <label for="">保修日期</label>
            <input type="text" >
        </div>
        <div>
            <label for="">客户姓名</label>
            <input type="text" >
        </div>
        <div>
            <label for="">联系电话</label>
            <input type="text" >
        </div>
        <div>
            <label for="">机器型号</label>
            <input type="text" >
        </div>
        <div>
            <label for="">故障情况</label>
            <input type="text" >
        </div>
        <div>
            <label for="">维修人员</label>
            <input type="text" >
        </div>
        <div>
            <label for="">是否上门</label>
            <input type="text" >
        </div>
        <div>
            <label for="">维修情况</label>
            <input type="text" >
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>
</body>
</html>